[submodule "boards/chipwhisperer-lite/firmware/naeusb"]
	path = boards/chipwhisperer-lite/firmware/naeusb
	url = https://github.com/newaetech/naeusb.git
[submodule "boards/chipwhisperer-nano/firmware/naeusb"]
	path = boards/chipwhisperer-nano/firmware/naeusb
	url = https://github.com/newaetech/naeusb.git
